@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
.footer-left-content {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-size: 14px;
}
.footer-left-content li {
    color: #fff;
}
.footer-left-content li a {
    color: #fff !important;
}
.footer-left-content li a:hover {
    color: rgba(0, 0, 0, 0.7) !important;
}
.footer-left-content li h2 {
    color: #fff;
    font-size: 16px;
}
.cuadro_intro_hover {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
}
.cuadro_intro_hover:hover .caption {
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}
.cuadro_intro_hover img {
    z-index: 4;
    width: 200px;
}
.cuadro_intro_hover .caption {
    position: absolute;
    top: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.cuadro_intro_hover .blur {
    background-color: rgba(0, 0, 0, 0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.cuadro_intro_hover .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top: 6px;
    width: 100%;
}
.footerwa {
    padding-top: 15px;
    margin-left: 158px;
    width: 880px;
}
.footer-box {
    width: 200px;
    float: left;
    padding: 5px;
}
.footer-center {
    float: left;
    width: 220px;
    padding-left: 28px;
}
.footer-center h1, .footer-center p {
    color: #fff;
}