body {
    font-family: Arial;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    color: #262626;
    margin: 0;
    padding: 0;
    background: #141414;
}
.menuwrapper {
    width: 100%;
    height: 80px;
    background: #464646;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(168, 168, 168)), to(rgb(69, 69, 69)));
    background: -moz-linear-gradient(top, rgb(168, 168, 168), rgb(69, 69, 69));
    border-top: 2px solid #939393;
    position: relative;
    margin-bottom: 30px;
}
.title {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.fl {
    float: left;
}
.container {
    width: 960px;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    background: #464646;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(168, 168, 168)), to(rgb(69, 69, 69)));
    background: -moz-linear-gradient(top, rgb(168, 168, 168), rgb(69, 69, 69));
    border-top: 2px solid #939393;
    position: relative;
}
.menu {
    height: 80px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    float: left;
}
.container a {
    text-decoration: none;
    color: #363636;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.container ul {
    margin: 0;
    padding: 0;
}
.container ul li {
    list-style: none;
    float: left;
    height: 79px;
    width: 225px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31, 169, 244, 1)), to(rgba(0, 28, 78, 1)));
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31, 169, 244, 1) 0%, rgba(0, 28, 78, 1) 100%);
}
.container ul li a {
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 79px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(168, 168, 168)), to(rgb(69, 69, 69)));
    background: -moz-linear-gradient(top, rgb(168, 168, 168), rgb(69, 69, 69));
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
}
.container ul li a:hover {
    background: transparent none;
}
.container ul[rel=sam1] li a {
    background: #606060;
}
.container ul[rel=sam1] li a:hover {
    background: transparent none;
}
.container ul li.active a {
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31, 169, 244, 1)), to(rgba(0, 28, 78, 1)));
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31, 169, 244, 1) 0%, rgba(0, 28, 78, 1) 100%);
}
@media (max-width: 479px) {
    .container {
        width: 100%;
        height: 70px;
        float: left;
        position: relative;
    }
    .menu {
        height: 35px;
        float: left;
    }
    .container a {
        font-size: 8px;
    }
    .container ul {
        width: 96%;
        line-height: 34px;
    }
    .container ul li {
        float: left;
        height: 35px;
        width: 50%;
        line-height: 34px;
    }
    .container ul li a {
        display: block;
        padding: 0 1px;
        text-align: center;
        line-height: 34px;
        height: 35px;
        color: #FFF;
    }
}